@charset "UTF-8";
@import '~materialize-css/dist/css/materialize.css';
@font-face {
  font-family: "iconfont";
  src: url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAQoAAsAAAAACKwAAAPcAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDMgqESIQcATYCJAMUCwwABCAFhG0HSxurBxEVnC/Jfhy4sdOg85X/DJ3UJP1zEE92ffW6exb6ECPxJEby7JGKjRDMGG0AbM05YKMiVEnOokdbzHObXj4dnC2XpRqDquNweLNHaXtHK82DIgiJqkLhkKVUSVAY+y/Me/8K4tl0PifwOgTwkEox0rxl++64MMjzBJDxY0YNwRUwYTKqBReCI2GrQdZg4VJL1X1gtfX78p0ScYHC0shLO49sMZzGnxyfKrUdsulvWNjbnAPgd4EGigEDMiHRNR7tpIrReD4JQ2P4JlwoVFPD/J8yP1WGQlBOiPIoaVCYZv554kDGPrAbpw18cmgiKPjklyaRmTCgQVZCvi3YMrZ4ADdwEiQamcq23qAQFMYZSM70+cITEmYOxYefsX7xXXicbHY+KXe+NHPkqM3BY8uih4/ctOyIHTNi+Ab76PK4USM2Lj8enC4v3/Z89arXy5c9nz/v/uJFj+evu9t4N4nEEH43rabYRMbSly8n+pYdCx6P8288ah/pLn+D9BNoUhjTe8OR7st61uB4GexV1PFqeQ/J8cLuLrmez1hmYjuMl6fhYL6T6p4Ul4S2jbo/altoxNZRW89s9d73GsiJU9m5vrWc12ZJQmTCFhMp6i02fYmz9dL4CCETODqehjXjXOr0IzmQ3yqjxzy6qglbtk5UCjKOVxPo2iPYMmN/wSNRpwOBBo9fqRvfvt7Ul6ivX/XNxMdXf0nvyZN7k5xMniK9vJGTOTS0sz88KfxO5zs0cOEwAYXbyR9+B7XPXo7vb797ZqeMGTMzOmV2vZjZzdTPmOF3ds28lMCZOSOjs6orxTOxzDrfqGPLlObJY8cmN09puVNFFLnIP6Vlyo5WKc1TxoxJSUCMegyeaJXCNABCg/QD9R/Qc7UFIcPxTdtW5p6+pZs8HH9D5+ldOgwKq/vt8hoA3gxaOBDB0CBDcekVJvnIHgVZwQbzVchmy7xrNenbbdHRZ0J92jzAA+CL5GMznhjwHIJLkAEUTlJA4yKbbtjFYOGlDBy4aAQeimi120sUE9CIcQOFLCQghHMaFAFugyacB3TD/gAWsfwEB+GiwUNPiTrSS64I7OHEWAt20PzBtjQo1SoHu/qOego1+xUW940cbRTyJAtnbzggN7EifnQhokAx9XAlt2EIBCOTw1YSIzIe01QlfShpqZ8dODHWgh00f7AtDcpoLYfIz99RT6HmjLof8TdytINDnmQF6Dc8FKo7lNHxowsRxcxSTD1c4cCgpAjG5EkOW0lMhcR4TGkzVRQn3VP9Pu4DPMgvWKJEixFLHGzGk6ZJ1m2giAffeDuUU0Re1l03mwE=");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-login_user:before {
  content: "";
}

.icon-add:before {
  content: "";
}

.icon-btn {
  flex: 1;
  cursor: pointer;
}
.icon-btn:hover {
  background-color: #607d8b2b;
}
.icon-btn .iconfont {
  color: #fff;
}

.main-container {
  display: flex;
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: #fafafa;
}

.agora-navbar {
  height: 65px;
}

.toast.info-toast {
  background-color: #3498db;
}

.toast.notice-toast {
  background-color: #07bc0c;
}

.toast.error-toast {
  background-color: #e74c3c;
}

.btn {
  max-width: 90px;
  min-width: 90px;
}

.sidenav {
  overflow: hidden;
}

.log-container {
  margin-top: 0px;
  padding: 0px;
  flex: 1;
  max-height: 600px;
  overflow: auto;
}

.chatroom {
  flex-direction: row;
  display: flex;
}
.chatroom .chats-dialogue {
  border-right: 1px solid #f0f0f0;
  flex: 1;
  max-width: 150px;
}

.channel-padding {
  padding-right: 110px;
}

.image-box {
  width: 400px;
  height: 100px;

}

.custom-btn-pin {
  position: absolute;
  right: 0;
  top: 0;
}

.chat-board {
  margin-left: 300px;
  width: 100%;
}

.btn-radius {
  border-radius: 45%;
}

.id {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  border: 1px solid #5e8eb9;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-theme {
  background: #2196f3e0;
}

.avatar {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

textarea.materialize-textarea {
  height: 3rem !important;
  overflow: auto !important;
}

.flex-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-table .flex-cell {
  flex: 1;
  height: 80px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.flex-container .flex-item {
  flex: 1;
  height: 100%;
}

.sender {
  display: flex;
  flex-direction: row-reverse;
  margin: 0.5rem;
}
.sender .panel {
  display: flex;
  align-items: center;
}
.sender .panel .text {
  word-wrap: break-word;
  max-width: 400px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.receiver {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
}
.receiver .panel {
  display: flex;
  align-items: center;
}
.receiver .panel .text {
  word-wrap: break-word;
  max-width: 400px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.bubble {
  display: flex;
  justify-content: flex-end;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 500px;
  border-radius: 50px;
  margin: 0.5rem;
  padding: 0 25px;
  background: #607d8b2b;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 400px;
  overflow: hidden;
}

.user-view {
  margin: 0 !important;
}

.message-board {
  min-height: 600px;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  max-height: 600px;
  padding: 0 2rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.operate-button {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}

.wrapper {
  min-width: 300px;
  max-width: 300px;
  position: relative;
}

.agora-github-pin {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAA2CAYAAAH7QlpLAAAABGdBTUEAALGPC/xhBQAABtVJREFUaAXdWnlsFFUY/81uu71p7QW0VIRUSKRyhBgUDUrARETkHwEbSyQIQTQYEAMqECFURQOiEBJCiGICVEAaa9AYQjUpYjzQBEQBiRy2pdCbo9sue4zzPfgmb3Znp7Ptbmk7Sfd7733H7/u9a+bNVLlcPCLb729rgHYV7K9VSPIlKlYGwpAMAh636rvWpLKnQQqDQECtnp0vDAwYZCkMXI4Gtf0GHAZXrZJX9k+j41YgJ7jdUKcICscnjSkVKwMRjgwCUqbUaMg2OIJBSdayQYgy2IDqIRdFEJ7EiUdGtgqmJutE71GPkZHTmSJ6TUlKEzY3K/fqYyA7hS1TBpQO/fma6tTArY6uBWjaskT11lcbApj2TnAqZn1gy5EDmQVgnS1JAQwzS/ayGgqRpjwd7Djq3CJx1JeMnE7qU/N1QLNguhNZsWPKk3PhzByMhKJHhXOwo56eHlorkFF6yWpc210qN+tBDUhsQYiyQ/q8dULFiKZI7ExGSROmA04n2n/6mptD9w5doxUIsf2Xb5A67SW52bi+DRqpwmlxk2V6bERSdrTtFOwoB+y0LCN2aiwbiPQiXS88c+RAdsqGvog1qAGMswsHSjMxsegxxA28F7Vz72dzfTrrDWEKpmBsK4PGDyuCt+Yc4PUItahfOMWmQnbWvZZgHEkGpbbMJVvRvHWJUCspGXCkZsB/9aKo009noLqhVYFAaSrSX9vRctV79ZJaM7dQv736O9xCxzZWsWzrZNCOs8fV2oVj1dpF48W9p/HjxWrA6zEFtdWN4bKQuzdhzBNIfmQGru0pRcaCDWjevCjErVtgHE0GTS9Zo22+61llkFEB44gyKLfJMqpgHDgcaEzAwoHGFCwYVKmZM+SEqqqjWWElFTg2D9lf/bqVjZVOMOspQL0bewJQByP6sQY0gMUaMOSJasi+mjGKopwMGWjFAU2H7FVlSJ3xslCrCCyrmV3wUYhtmIYQMLIzA8zfc566GY3vFsN13yg9XCSApmCmgAG/DtBWdVAvU8EuYMiYGaJoFZ40cYOGIfe9Q9BuXnBXHYDiSsKt87d72/19mXDrbB12CkZRGFBE1H6yVu5C0wfzRJXGkbqXLyvAsN3IziSDx1Bxxgu1MysP7mMVSJnyAhLHTxVtVl1qi5mIov0wQ0d6NgZu+E4A+erOI27wcHgv/gXPuT/0ZxEzhhGBESgDUpkYERDfLHPeOYCGdbNIJa5gQFvdyM4k5S51H/sK8cMfFOrc979F48aFyC+7FLZLI2bGwDLDAc+vwI3yLcj7/CxqSwqRMnkO/C1X0PH7EWHODLsMRlFkQGJUWzwUuR8eRv2b0wBpXZItAXYLTAZUElOQs2Yf6lc9Q82mV7fBKCozJEDVr+003o7YgcmApih3GqPCjAGYIdeDZVTBKLgVYNTBrABjAhYOMGZgZoAxBQsGjDlYMCDVY37RLBXM6NQRCLgr7T6GR5IZb8KR+ETD1jBk/YmggRj3VH8gaEqsPxC0JNZdgvFDH0Di2MnanduLjhNV8FWf4ZC6jNUatPXISB9o6FGRPtCYHtv0NG8XBsxajvzd/yKuYCRuVGzDzUM7oDgcyPvsNBJGTTRY05M6vVOL5IhnCBCmYmvEgn2t1mDCmMeR/cZO1M4v0l+Bsn/O+gp4tVFr3bGSm0JktEawS8Q4G1OC2qE7t7RCOyH+idZPV0OJd8E1Yjw8p44Jt+RJz4mPEPEFI+C7+h+uH9iE9p8PcUhddpdgt4hxFqYE41xIGPkQlMQkeM78BlfhOOS8vRvN25Zqx+Mv2RWJ46Yg87WtuLxAe5Pl9+ntXOgqwagQ4yRMCd5RZmtnDc/JKrHm2J5k0oSnNWLbcHn+KKgeN5xZg+FvqpNNRDlSglElxtmYEVSSB2DQpkp4Tv8K94/liMsrRNrMVxG42YL61TOR/PB0ZCzcgI7jh5EwehKaP1msHyE5Lkm7BGNCjBMxI8g6lnTyJ0K0c/Lpn3RZK3Yh0NaKFm3qml2dEYwpMU7IlKC2yeSsPQhndh6uLJ1k2EEdaZkYuPEI2ir34vr+jUia+KyYpvwSgOOSDEewR4hxImYE6eidtWy72DnpK5lL+1rmq69G06YFoBs8fcRq++ELeLUvZhkvrkWT9qXFDsEeJWZFkHUkaYSIkPtoOeK1V6e+ugvamntFvE1JmVoidtiW7ctlF73MI3hXiHEW4UYwe9Ve7UnFiYbSYoj/7km7R6y51p1vwXvpb3a3lHeVGGdmlyDb25G9ghgnakaQdZHKXkWMk48GwV5JLBoEezWx7hDsE8S6QrBPEYuEYJ8kZodgnyZmRbBfELMiyLp+Iek++D86vB3Xmaq79gAAAABJRU5ErkJggg==") no-repeat round;
  width: 55px;
  height: 55px;
  position: absolute;
  right: 0;
  top: 0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.github {
  cursor: pointer;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url("../assets/github.png");
  background-size: 50px;
  display: block;
  width: 50px;
  height: 50px;
  margin: 20px;
  border-radius: 28px;
  transform: translateY(-40px);
  -webkit-box-reflect: below;
  -webkit-box-reflect: below 2px -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.5));
}

.agora-image {
  
}
.aperture {
  /* display: inline-block; */
  width: 58px !important;
  height: 58px !important;
  position: absolute;
  right: 60px;
  top: 28px;
  z-index: 1999;
}

.aperture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -24px;
  left: 16px;
  border-radius: 50%;
  box-shadow: inset 0 0 10px #fff06a, inset 4px 0 16px #f0f, inset -4px 0 16px #0ff, inset 4px 0 16px #f0f, inset -4px 0 16px #0ff, 0 0 10px #fff06a, -6px 0 36px #f0f, 6px 0 36px #0ff;
  -webkit-animation: rotate 3s infinite linear;
  animation: rotate 3s infinite linear;
}

.agora-theme {
  overflow: auto;
  height: 100%;
}
.agora-theme .btn-primary {
  color: #fff;
  background-color: #1E88E5 !important;
}
.agora-theme .agora-primary-bg {
  color: #fff;
  background-color: #1E88E5 !important;
  align-items: center;
}
.agora-theme h5 {
  margin: 0;
  margin-left: 20px;
}
.agora-theme .agora-secondary-border {
  border: 1px solid #424242 !important;
}
.agora-theme .agora-secondary-bg {
  color: #fff;
  background-color: #424242 !important;
  align-items: center;
}
.agora-theme .switch {
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.agora-theme .switch h6 {
  margin: 0;
}
.agora-theme .dialogue-list {
  overflow-y: scroll;
  flex: 1;
  max-height: 650px;
}
.agora-theme .dialogue-list .dialogue-item {
  position: relative;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #424242;
  background-color: #fff;
  cursor: pointer;
}
.agora-theme .dialogue-list .dialogue-item.active {
  background-color: #607d8b2b;
}
.agora-theme .dialogue-list .dialogue-item .icon-close {
  display: none;
}
.agora-theme .dialogue-list .dialogue-item:hover {
  background-color: #607d8b2b;
}
.agora-theme .dialogue-list .dialogue-item:hover .icon-close:hover:before {
  color: red;
}
.agora-theme .dialogue-list .dialogue-item:hover .icon-close:before {
  content: "" !important;
  color: #80808082;
}
.agora-theme .dialogue-list .dialogue-item:hover .icon-close {
  display: block !important;
  position: absolute;
  left: 5px;
}
.agora-theme .chat-board {
  height: 100%;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.agora-theme .chat-board .chat-list {
  overflow-y: auto;
  max-height: 336px;
  flex: 1;
}
.agora-theme .chat-board .chat-list .sender {
  display: flex;
  flex-direction: row-reverse;
}
.agora-theme .chat-board .chat-list .receiver {
  display: flex;
  flex-direction: row;
}
.agora-theme .chat-board .chat-message {
  flex: 1;
}
.agora-theme .chat-board .chat-input {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
}
.agora-theme .chat-board .chat-input .chat-message-preview {
  max-height: 78px;
  overflow: auto;
  padding-left: 15px;
  padding-right: 65px;
}